.login-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.login-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}

ion-content.page {
  --ion-background-color: linear-gradient(0deg, #3b5249 30%, #f0f0f0 100%);
}

ion-item,
input {
  --ion-background-color: rgb(232, 240, 254) !important;
  background: none;
}
