<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    style="
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    "
  >
    <ion-avatar>
      <img src="{{reward.icon.url}}" class="slide-image" />
    </ion-avatar>
    <h2 class="slide-title">{{reward.content}}</h2>
    <p [ngClass]="reward.code ? '' : 'blur'">
      {{reward.code?.toUpperCase() || 'XXXXXXXX'}}
    </p>
    <ion-button
      class="redeem"
      expand="block"
      *ngIf="!reward.completed"
      (click)="redeem()"
      >Redeem</ion-button
    >

    <h5 *ngIf="isError" style="color: #9b2226; font-size: 18px; position: absolute; bottom: 100px;">Insufficient funds.</h5>
  </div>
</ion-content>
