<app-header></app-header>

<ion-content class="gradient-page" fullscreen="true">
  <ion-content>
    <ng-container *ngIf="feederItems && feederItems.length > 0; else notFound">
      <ion-card
        *ngFor="let item of feederItems"
        class="ion-card-background-page"
      >
        <ion-item>
          <ion-avatar slot="start">
            <img src="data:image/png;base64,{{item.imageUrl}}" />
          </ion-avatar>
          <ion-label>
            <h3>{{ item.publishedBy }}</h3>
            <p>1h ago</p>
          </ion-label>
        </ion-item>

        <img style="width: 100%; height: auto;" src="data:image/png;base64,{{item.imageUrl}}" />

        <ion-card-content>
          <ion-chip *ngFor="let item of [1,2,3]">
            <ion-label>{{"#" + item}}</ion-label>
          </ion-chip>
          <p>{{item.content}}</p>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <ng-template #notFound>
      <ion-card>
        <ion-card-header> </ion-card-header>
        <ion-card-content class="ion-text-center">
          Not found any post
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ion-content>
</ion-content>
