<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!ios && !showSearchbar">Schedule</ion-title>
    <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" [(ngModel)]="queryText" (ionChange)="updateSchedule()" (ionCancel)="showSearchbar = false" placeholder="Search"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!ios && !showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!showSearchbar" (click)="presentFilter()">
        <span *ngIf="ios">Filter</span>
        <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-content>
    <ng-container *ngIf="feederItems && feederItems.length > 0; else notFound">
      <ion-card *ngFor="let item of feederItems" class="ion-card-background-page">
        <ion-card-header>
          <ion-card-title>
            <ion-item>
              <ion-avatar>
                <img src="data:image/png;base64,{{item.imageUrl}}">
              </ion-avatar>
              <ion-label class="label-text">  <h1> {{  item.publishedBy   }} </h1>  </ion-label>
            </ion-item>
          </ion-card-title>
        </ion-card-header>
        <img class="card-photo" src="data:image/png;base64,{{item.imageUrl}}">

        <ion-card-header>
          <ion-card-title>
            <ion-chip  *ngFor="let item of FeedItems">
              <ion-label>{{"#" + item.hashTag}}</ion-label>
            </ion-chip>
          </ion-card-title>
        </ion-card-header>

        <ion-card-content [innerHTML]="item.content">
      </ion-card-content>
      </ion-card>
    </ng-container>
    
    <ng-template #notFound>
      <ion-card >
          <ion-card-header>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
              Not found any post
          </ion-card-content>
      </ion-card>
    </ng-template>
  </ion-content>
</ion-content>
