<ion-app [class.dark-theme]="dark">
  <div class="app-loader" *ngIf="loadingService.isLoading$ | async">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-content>
        <div class="menu-header"></div>
        <div class="header-content">
          <ion-img class="header-img" [src]="img"></ion-img>
        </div>
        <ion-list lines="none">
          <ion-menu-toggle
            autoHide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              [routerLink]="p.url"
              routerLinkActive="selected"
              routerDirection="root"
              detail="false"
            >
              <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list lines="none" style="text-align: center;">
          <h5>Account</h5>
          <div>
            <img
              src="https://www.bitcoinqrcodemaker.com/api/?style=ethereum&address={{
                address
              }}"
              style="width: 180px; height: auto"
            />
            <h6 style="font-size: 16px; padding: 0 50px">{{ address }}</h6>
          </div>
        </ion-list>
      </ion-content>
    </ion-menu>

    <app-header></app-header>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
