.tabbar {
  justify-content: center;
}

.tab-button {
  max-width: 200px;
}

.featured{
  button{
  width: 60px !important;
  height: 60px !important;
  margin-top: -60px;
  z-index: 100000 !important;
  position: absolute;
  }
}
