<ion-header class="ion-no-border">
  <div class="header">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://eu.ui-avatars.com/api/?name={{name}}" />
      </ion-avatar>
      <ion-label>
        <h3 style="font-size: 22px; font-weight: bold; color: white">
          {{name}}
        </h3>
        <p style="font-size: 16px; color: white">
          {{balance}}
          <img
            style="
              width: 25px;
              height: 25px;
              margin-bottom: -5px;
              margin-left: -5px;
            "
            src="../../../assets/img/speakers/coin3.gif"
          />
        </p>
      </ion-label>
    </ion-item>
  </div>
</ion-header>
